.repo-card {
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 8px;
    background-color: #ffffff;
    margin: 60px auto;
    padding: 24px;
    padding-right: 72px;
    position: relative;
    text-align: center;
    width: 75%;
    z-index: 1;
}

.repo-card__message {
    font-size: 24px;
    text-transform: uppercase;
}
